kind: ConfigMap
apiVersion: v1
metadata:
  name: paymentservice-config
data:
  someKey1: value1
  #reference: https://cloud.spring.io/spring-cloud-static/spring-cloud-kubernetes/1.1.0.RC1/reference/html/#kubernetes-native-service-discovery

  nextService: paymentservice.default.svc.cluster.local:8080
  creditCardService: creditcardservice.default.svc.cluster.local:8080
  paypalService: paypalservice.default.svc.cluster.local:8080
  bankService: bankservice.default.svc.cluster.local:8080
  databaseName: paymentdb
  group_id: group_id
  kafka: kafka-server.default.svc.cluster.local:9092
  mongoHost: mongodb+srv://admin:admin@eafinalproject-zxqvx.gcp.mongodb.net/test?retryWrites=true&w=majority